
NODE_ENV=development

# Database
DATABASE_URL="YOUR_DB_URI"

# NextAuth
NEXTAUTH_SECRET="NEXT_AUTH_SECRET"
NEXTAUTH_URL="http://localhost:3000"
MAX_USER_MESSAGES_PER_CHAT=50
REPO_URL=https://github.com/heyhexadecimal/nimbu-ai

# Google Auth and Scopes
GOOGLE_CLIENT_ID=GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=GOOGLE_CLIENT_SECRET

# Langsmith
LANGSMITH_TRACING="true"
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY="LANGSMITH_API_KEY"
LANGSMITH_PROJECT="PROJECT_NAME"
MAX_OUTPUT_TOKENS=2048

#TRAVILY 
TAVILY_API_KEY=YOUR_TRAVILY_API_KEY